[package]
name = "vhl_stdlib"
version = "0.1.0"
edition = "2021"

[dependencies]
#hash32 = "^0.3.1"
#hash32-derive = "^0.1.1"
#semver = { version = "1.0.13", default-features = false }
#thiserror = "^1.0.32"

[dev-dependencies]
hex-literal = "^0.3.4"