[workspace.package]
version = "0.4.0"
authors = ["Roman Isaikin <romix.lab@gmail.com>"]
description = "WireWeaver is a wire format and API code generator for resource constrained systems."
edition = "2024"

[workspace.dependencies]
syn = { version = "2.0", features = ["full", "extra-traits"] }
quote = "1.0"
proc-macro2 = "1.0"
defmt = "1.0"
strum_macros = "0.27"

[workspace]
resolver = "2"
members = [
    "wire_weaver",
    "wire_weaver_core",
    "wire_weaver_derive",
    "shrink_wrap",
    "wire_weaver_usb_host",
    "wire_weaver_usb_embassy",
    "wire_weaver_usb_link",
    "wire_weaver_net_host",
    "wire_weaver_client_common",
    "wire_weaver_udp_link",
    #    "wire_weaver_tool",
    #    "examples/*",
    "tests",
    "ww_client_server",
    "ww_date_time",
    "ww_version",
    "ww_numeric",
    "ww_self",
    "ww_si",
    "ww_can_bus",
    "ww_log_bare_metal",
    "ww_dfu", "examples/minimal_shrink_wrap", "examples/minimal_derive", "examples/compare_wire_formats",
]
