[package]
name = "minimal_shrink_wrap"
version.workspace = true
authors.workspace = true
description.workspace = true
edition.workspace = true

[dependencies]
wire_weaver = { path = "../../wire_weaver" }
