[package]
name = "nucleo_h743zi2"
version = "0.1.0"
edition = "2024"

[dependencies]
cortex-m-rt = "0.7"
defmt = "1.0"
defmt-rtt = "1.0" # consider disable-blocking-mode
panic-probe = { version = "1.0", features = ["print-defmt"] }

cortex-m = { version = "0.7", features = ["critical-section-single-core"] }
embassy-stm32 = { version = "0.5.0", features = ["defmt", "stm32h743zi", "unstable-pac", "exti", "time-driver-tim2"] }

embassy-executor = { version = "0.9.1", features = [
    "nightly",
    "arch-cortex-m",
    "executor-thread",
    "executor-interrupt",
    "defmt"
] }
embassy-time = { version = "0.5.0", features = ["defmt", "defmt-timestamp-uptime", "tick-hz-32_768"] }
embassy-sync = { version = "0.7.2", features = ["defmt"] }
embassy-usb = { version = "0.5", features = ["defmt"] }
static_cell = "2.1"

blinky_api = { path = "../blinky_api", default-features = false }
wire_weaver_usb_embassy = { workspace = true }
wire_weaver_usb_link = { workspace = true, features = ["device", "defmt"] }
wire_weaver = { workspace = true, default-features = false, features = ["defmt"] }
ww_client_server = { workspace = true, default-features = false }

# to solve "can't find crate for test on IntelliJ"
[[bin]]
name = "blinky"
path = "src/bin/blinky.rs"
test = false
doctest = false
bench = false

# see for more info: https://docs.rust-embedded.org/book/unsorted/speed-vs-size.html
# cargo build/run
[profile.dev]
codegen-units = 1
debug = 2 # full debug info
debug-assertions = true
incremental = false
opt-level = 3
#opt-level = "s"
overflow-checks = true

# cargo test
[profile.test]
codegen-units = 1
debug = 2
debug-assertions = true
incremental = false
opt-level = 3
#opt-level = "s"
overflow-checks = true

# cargo build/run --release
[profile.release]
codegen-units = 1
debug = 2
debug-assertions = false
incremental = false
lto = 'fat'
opt-level = "z" # 3 - speed, s - size, z - even less size
#opt-level = "s"
overflow-checks = false

# cargo test --release
[profile.bench]
codegen-units = 1
debug = 2
debug-assertions = false
incremental = false
lto = 'fat'
opt-level = 3
#opt-level = "s"
overflow-checks = false

# do not optimize proc-macro crates = faster builds from scratch
[profile.dev.build-override]
codegen-units = 8
debug = false
debug-assertions = false
opt-level = 0
overflow-checks = false

[profile.release.build-override]
codegen-units = 8
debug = false
debug-assertions = false
opt-level = 0
overflow-checks = false
